/* Real Time Chatroom Section 17 starting #135 project preview setup */
h1{
    text-align: center;
    color: darkslateblue;
}
    /* #136. HTML Template */
    /* #137. Connecting to Firebase */
    /* #138. Chatroom Class & Adding Chats */
    /* #139. Setting up a Real-time Listener */
    /* #140. Complex Queries this set up for eg gaming room */
    /* #141. Updating the Room & Username */
.container{
    max-width: 600px;
  }
  .btn{
    background: #43d9be;
    color: white;
    outline: none !important;
    box-shadow: none !important;
  }
  .btn:focus{
    outline: none !important;
  }